<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>
<body>
<header>
  <%- include('partials/navBar') -%>
</header>

<%- include('pageParts/contact-intro') -%>

<section>
<%- include('forms/contact-form') -%>
</section>

<%- include('partials/footer') -%>
<%- include('partials/scripts') -%>
</body>
</html>