<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>
<body>
<header>
    <!-- Navbar -->
    <%- include('partials/navBar') -%>
    <!-- Navbar -->

    <!--Section: Design Block-->
    <section>
        <div id="intro" class="bg-image" style="
        background: url('https://www.popsci.com/uploads/2022/03/02/aviv-rachmadian-7F7kEHj72MQ-unsplash-scaled.jpg?auto=webp')
        no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        height: 40vh;
      ">
            <div class="mask h-100" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="container d-flex justify-content-center align-items-center h-100">
                    <div class="row align-items-center">
                        <div class="col-12 text-center p-3">

                            <h1 class="text-white mb-3 text-center display-1">
                                Frenzy Designs
                            </h1>
                            <% if(loggedIn){ %>
                                <a href="/create" class="btn btn-outline-light">Upload A Design</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section: Design Block-->
</header>

<main>
    <div class="container my-4 py-5">
        <!--Section: Design Block-->
        <section>
            <div class="row">
                <% for(i=0; i < dPost.length; i++){ %>
                    <div class="col-md-12">
                        <div class="row flex-row-reverse mb-5">
                            <div class="col-md-8">
                                <h5 class="fw-bold pb-1">
                                    <a href="/post/<%= dPost[i]._id %>" class="text-reset"
                                    ><%= dPost[i].title %></a
                                    >
                                </h5>
                                <p class="small text-muted">
                                    By <a href="#!" class="text-reset"><%= dPost[i].userid.username %></a> on <%= dPost[i].datePosted.toLocaleString() %>
                                </p>
                                <p>
                                    <%= dPost[i].body.substring(0, 110) %> . . .
                                </p>
                            </div>
                            <div class="col-md-4">
                                <div class="zoom rounded-5">
                                    <a href="/designDB/<%= dPost[i]._id %>">
                                        <img
                                                class="w-100 rounded-5"
                                                src="<%= dPost[i].image %>"
                                                style="object-fit: cover; height: 148px"
                                                alt="<%= dPost[i].title %>"
                                        />
                                        <div class="mask"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr class="divider-horizontal" style="margin-bottom: 3.5rem;">
                    </div>
                <% } %>
            </div>
        </section>
        <!--Section: Design Block-->

    </div>

</main>

<%- include('partials/footer') -%>
</body>
<%- include('partials/scripts') -%>
</html>