<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>
<body>
<header>
    <!-- Navbar -->
    <%- include('partials/navBar') -%>
    <!-- Navbar -->

    <!--Section: Design Block-->
    <section>
        <div id="intro" class="bg-image" style="
        background-image: url('https://previews.123rf.com/images/rawpixel/rawpixel1607/rawpixel160707354/110546896-person-using-a-laptop-with-account-login-concept.jpg');
        height: 50vh;
      ">
            <div class="mask h-100" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="container d-flex justify-content-center align-items-center h-100">
                    <div class="row align-items-center">
                        <div class="col-12 text-center p-3">

                            <h1 class="text-white display-2">
                                Create A Profile
                            </h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section: Design Block-->
</header>

<main>
    <!-- Container for demo purpose -->
    <div class="container my-5 py-5 shadow-5">
        <% if(errors != null && errors.length > 0){ %>
            <ul class="list-group text-center list-group-light mb-5">
                <% for(i=0; i < errors.length; i++){ %>
                    <li class="list-group-item px-3 border-0 rounded-3 list-group-item-danger mb-2">
                        <%= errors[i] %>
                    </li>
                <% } %>
            </ul>
        <% } %>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10">
                <form action="/store/user" method="post" enctype="multipart/form-data">
                    <label for="username" class="form-label">Create Username</label>
                    <input type="text" name="username" id="username" class="form-control" required />
                    <label for="email" class="form-label">Enter Email</label>
                    <input type="email" name="email" id="email" class="form-control" required />
                    <label for="password" class="form-label">Create Password</label>
                    <input type="password" name="password" id="password" class="form-control" required />
                    <label for="about" class="form-label">About You</label>
                    <textarea name="about" id="about" class="form-control" spellcheck="true" rows="6"></textarea>
                    <button class="btn mt-3 btn-primary w-50" type="submit">register</button>
                </form>
            </div>
        </div>

    </div>
    <!-- Container for demo purpose -->
</main>

<%- include('partials/footer') -%>
</body>
<%- include('partials/scripts') -%>
</html>